*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 50px;
    transition: all;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.head {
    margin: 0 30px;
}

.head img{
    width: 120px;
}
.nav{
    float: right;
    overflow: auto;
}
.nav ul li{
    float: left;
    list-style: none;
    margin-top: 10px;

}
.nav ul li a{
   text-decoration: none;
   margin-right: 20px;
   color: #fff;
   font-size: 20px;
   text-transform: capitalize;
   font-weight: bold;
   transition: 0.5s;
}

.nav ul li a:hover{
   opacity: .5;
 }
/* end hearder */
.main{
    width: 100%;
    height: 100vh;
    background-image: url(../img/hotel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
.over{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 50%;
}
.content h2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
.content p{
    font-size: 20px;
        color: #fff;
        margin: 10px 0;
}
.content .btn{
    padding: 13px 36px ;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}
.content .btn:hover{
   opacity: .8;
}
.content .btn2{
    background-color:rgb(239, 143, 10);
}
.content .btn2 i{
    margin-left: 5px;
}
 
/* end main */


.welcome h2{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
.line{
    margin: auto;
    width: 50px; 
    height: 5px;
    background-color: rgb(239, 143, 10);
}
.welcbox{
margin: auto;
width: 80%;
margin-top: 20px;

}

.box{
    width: 26%;
    display: inline-block;
    border: 3px solid black;
    text-align: center;
    padding: 20px;
   margin: 20px 60px 30px 20px;
   position: relative;
}
.welcbox i{
    font-size: 30px;
    color: rgb(239, 143, 10);
    margin-bottom: 10px;
}
.welcbox h3{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.welcbox p{
   opacity: .8;
   margin-bottom: 10px;
}
.welcbox a{
   text-decoration: none;
   font-size: 17px;
   color: rgb(239, 143, 10);
   
 }
.box::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: .5s;

}
.box:hover h3{
    color: #fff;
    position: relative;
    z-index: 3;
}
.box:hover p{
    color: #fff;
    position: relative;
    z-index: 3;
}
.box:hover a{
    position: relative;
    z-index: 3;
}
.box:hover i{
    position: relative;
    z-index: 3;
}
.box:hover::after{
   width: 100%;
  height: 100%;
   opacity: 1;

}
/* end services */
.container{
    background-color: #e1e1e17e;
}
.places{
    width: 80%;
    margin: auto;
    
   
    
}
.places h2{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
   
}
.line2{
    margin-left: 49%;
    width: 30px; 
    height: 5px;
    background-color: rgb(239, 143, 10);
}


.pcard{
    width: 350px;
    height: 70px;
    display: inline-block;
    margin: 20px;
    position: relative;
}
.pcard img{
width: 100%;
margin-bottom: 20px;
}
.pcard h3{
   font-size: 30px;
   color: #ffffff;
   position: absolute;
   top: 100px;
   left: 150px;
   visibility: hidden;
   z-index: 3;
}
.pcard i {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 150px;
    left: 170px;
    visibility: hidden;
    z-index: 2;
    
 }
 .pcard::after{
    content: "";
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: .5s;

}
.pcard:hover::after{
    width: 100%;
   height: 333%;
    opacity: 0.7;
 
 }



 .pcard:hover h3{
    visibility: visible;
 }
 .pcard:hover i{
    visibility: visible;
 }
/* end offer */
.choose{
    background-color: #e7e4e468;
    position: relative;
    border-radius: 5px 30px ;
    margin-top: 50px;
}
.choo{
    width: 80%;
    margin: auto;
   
}
.chooseimg{
    position: absolute;
    right: 40px;
    text-align: center;
}
.chooseimg img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 40px;
}
.circle{
    background-color: #080707;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    
    
}
.circ{
    background-color: orange;
}
.choosetext{
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.choosetext h2{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.line3{
    width: 50px;
    height: 5px;
    background-color: orange;
    margin-bottom: 30px;
}
.choosetext p{
    font-size: 20px;
    margin-bottom: 30px;
}
/* end choose */
.count{
    width: 100%;
    height: 50vh;
    background-image: url(../img/count.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}
.cont1{
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    
}
.happy{
    display: inline-block;
   position: relative;
   top: 40%;
   left: 20%;
   margin-right: 200px;
   text-align: center;
  
}
.happy i{
    color: orange;
    font-size: 40px;
}
.happy h3{
    color: #fff;
    font-size: 40px;
}
.happy p{
    color: orange;
    font-size: 20px;
}
/* end count */
.price1 h2{
    font-size: 40px;
    text-align: center;
    color: #000;
    margin: 30px;
   
}
/* line */
.line4{
    width: 300px;
    height: 4px;
    background-color: orange;
    margin: auto;
    margin-top: -25px;
}
/* card */
.contant{
    overflow: auto;
}
.card{
    width: 300px;
    height: 400px;
    border: 3px solid black ;
    float: left;
    text-align: center;
   margin: 100px 80px;

}
h3{
 font-size: 30px;
 color: orange;
 margin-top: 20px;
}
h3:hover{
    letter-spacing: 2px;
}
/* price */
.card{
    position: relative;
}

.price{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding:30px 0 40px 0;
    border: 3px solid #000000;
    margin: auto;
    margin-top: 40px;
}
strong span{
    font-size: 30px;
    text-align: center;
    padding-top: -20px;
}
.price strong{
    font-size: 20px;
    text-align: center;
}
.card p{
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 30px;
}
.card button {
    width: 200px;
    height: 30px;
    background-color: rgba(255, 166, 0, 0.733);
    border-radius: 10px;
}
.card span{
    font-weight: bold;
}

.card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .5s;

}
.card:hover h3{
    color: #fff;
    position: relative;
    z-index: 3;
}
.card:hover p{
    color: #fff;
    position: relative;
    z-index: 3;
}
.card:hover a{
    position: relative;
    z-index: 3;
}
.card:hover i{
    position: relative;
    z-index: 3;
}
.card:hover .price{
    color: #fff;
    border: 3px solid #ffffff;
    position: relative;
    z-index: 3;
}
.card:hover::after{
   width: 100%;
  height: 100%;
   opacity: 1;

}
.card:hover button{
 background-color: #fff;
    position: relative;
    z-index: 3;
 }
/* end price */
.review{
    width: 100%;
    height: 50vh;
    background-image: url(../img/reviw.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}
.cont2{
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    
}
.cont2{
position: relative;

}
.cont2 h2{
position: absolute;  
top: 20px;
left: 35%;  
font-size: 40px;
text-transform: capitalize;
color: #fff;
}
.rev1{
    position: absolute;
    top:30% ;
    left: 20%;
    display: inline-block;
}
.rev1 img{
width: 100px;
height: 100px;
border-radius: 50%;
border: 2px solid rgba(0, 0, 0,0.5);

}
.rev1 h5{
    font-family:'Times New Roman', Times, serif;
    color: #ffe8ae;
    font-size: 20px;
}
.rev1 p{
    color: #fff;
   
}
.rev2 h5{
    font-family:'Times New Roman', Times, serif;
    color: #ffe8ae;
    font-size: 20px;
}
.rev2 p{
    color: #fff;
   
}

.rev2{
    position: absolute;
    top:30% ;
    right: 10%;
    display: inline-block;
}
.rev2 img{
width: 100px;
height: 100px;
border-radius: 50%;
border: 2px solid rgba(0, 0, 0,0.5);

}
/* end review */
.team{
    width: 100%;
    margin-top: 30px;
}
.teamcontant{
    width: 80%;
    margin: auto;
    
}
.teamcontant h2{
    color: #000;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   
}
.team1{
    width: 26%;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
   border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
.tamtop{
    width: 90%;
    margin: auto;
    position: relative;
}
.overlay{
   position: absolute;
   top: 0;
   width: 100%;
   height: 97%;
   background-color: rgba(0,0,0,0.5);
   border-radius: 20px;
   margin-top: 10px;
   visibility: hidden;
}
.team1 img{
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;

  
}
.overlay i{
   line-height: 40px;
   visibility: hidden;
 

}
.overlay a{
    font-size: 30px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-left: 85%;
 }
 .teamtext p{
    margin-bottom: 10px;
 }
 .teamtext h2{
    margin-top: 10px;
    margin-bottom: 10px;
 }


 .team1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .5s;

}
.team1:hover i{
    visibility: visible;
}
.team1:hover h2{
    color: #fff;
    position: relative;
    z-index: 3;
}
.team1:hover p{
    color: #fff;
    position: relative;
    z-index: 3;
}
.team1:hover a{
    position: relative;
    z-index: 3;
}
.team1:hover i{
    position: relative;
    z-index: 3;
}
.team1:hover .overlay{
    visibility: visible;
}
.team1:hover::after{
    width: 100%;
   height: 100%;
    opacity: 1;
 
 }
/* end team */
.news{
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-top: 50px;
    border-radius: 5px 20px;
}
.newcontent{
    width: 80%;
    margin: auto;
}
.newcontent h2{
    color: #000;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   
}
.cardnew{
    width: 25%;
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    position: relative;
}
.cardnew img{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.cardnew span i{
    color: orange;
}
.cardnew span{
    color: rgb(0, 0, 0);
}
.newtext h5{
margin-left: -20px;
font-size: 20px;
}
.newtext a{
   color: orange;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}
.cardnew::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .5s;

}

.cardnew:hover h5{
    color: #fff;
    position: relative;
    z-index: 3;
}
.cardnew:hover p{
    color: #fff;
    position: relative;
    z-index: 3;
}
.cardnew:hover a{
    position: relative;
    z-index: 3;
}
.cardnew:hover i{
    color: orange;
    position: relative;
    z-index: 3;
}
.cardnew:hover span{
    color: #fff;
    position: relative;
    z-index: 3;
}

.cardnew:hover::after{
    width: 100%;
   height: 100%;
    opacity: 1;
 
 }
 /* end news */
 .end{
    width: 100%;
    background-color: rgb(255, 245, 228);
    margin-top: 50px;
    border-radius: 10px 30px;
    text-align: center;
 }
 .endcontant{
    width: 80%;
    margin: auto;
    
 }
 .endcontant img{
    width: 150px;
    margin-bottom: 20px;
 }
 
 .links a{
    text-decoration: none;
    color: #000000;
    margin-right: 30px;
    margin-left: 40px;
   
 }
 .links a i{
    font-size: 40px;
    margin-bottom: 40px;
 }
 .links .face:hover{
    color: rgb(93, 131, 255);
 }
 .links .ins:hover{
    color: rgb(240, 21, 75);
 }

 .links .git:hover{
    color: rgb(143, 143, 149);
 }

 .links .lin:hover{
    color: rgb(11, 54, 194);
 }
 .end p {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
 .end p a{
   color: orange;
   text-decoration: none;
   font-size: 20px;
   
 }

